.lead__road-pic {
    max-width: 984px;
    width: 100%;
    margin-top: 56px;
}

@media screen and (max-width: 1023px) {
    .lead__road-pic {
        width: 100vw;
    }
}

@media screen and (max-width: 1023px) {
    .lead__road-pic {
        margin-top: 40px;
    }
}