.lead__caption {
    margin: 0;
    margin-top: 8px;
    max-width: 984px;
    width: calc(100vw - 96px);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        width: calc(100vw - 48px);
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        width: calc(100vw - 32px);
    }
}