.cover__title {
    width: 560px;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    color: white;
    z-index: 3;
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: 288px;
        height: 70px;
        font-size: 32px;
        line-height: 35px;
    }
}