.place {
    max-width: 984px;
    width: calc(100vw - 96px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(320px, 460px) 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
        "places__title places__website"
        "places__image places__text";
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1183px) {
    .place {
        grid-template-columns: minmax(320px, 440px) 1fr;
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        width: calc(100vw - 48px);
        grid-template-columns: minmax(320px, 340px) 1fr;
        column-gap: 32px;
    }
}

/* 
@media screen and (max-width: 767px) {
    .place {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "places__title"
        "places__website"
        "places__image"
        "places__text";
        row-gap: 32px;
        justify-items: center;
    }
}*/

/**/
@media screen and (max-width: 767px) {
    .place {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-top: 50px;
    }
} 