.place {
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
        "places__title places__website"
        "places__image places__text";
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.place:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 1183px) {
    .place {
        grid-template-columns: minmax(320px, 440px) minmax(288px, 484px);
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: minmax(320px, 340px) minmax(288px, 484px);
        column-gap: 32px;
    }
}

/* */
@media screen and (max-width: 767px) {
    .place {
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "places__title"
        "places__website"
        "places__image"
        "places__text";
        row-gap: 32px;
        justify-items: center;
    }
}

/*@media screen and (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
} */