.place {
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
        "places__title places__website"
        "places__image places__text";
    column-gap: 40px;
    row-gap: 48px;
    margin-top: 80px;
}

.place:first-of-type {
    margin-top: 0;
}