.footer {
    margin: 0 auto;
    max-width: 1184px;
    width: calc(100vw - 96px);
    padding-top: 92px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .footer {
        padding-top: 88px;
        width: calc(100vw - 48px);
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
        min-height: 310px;
        align-items: flex-start;
        width: calc(100vw - 32px);
    }
}