.cover__pic {
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    background-image: url('../../../images/cover-trains.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}

.cover__pic::before {
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity .4s;
    z-index: 2;
}

.cover__pic:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1183px) {
    .cover__pic {
        max-width: 100vw;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__pic {
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover__pic {
        min-height: 200px;
    }
}