.page__footer {
    margin: 0 auto;
    max-width: 1184px;
    width: calc(100vw - 96px);
}

@media screen and (max-width: 1023px) {
    .page__footer {
        width: calc(100vw - 48px);
    }
}