.place__website {
    grid-area: places__website;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

@media screen and (max-width: 767px) {
    .place__website {
        width: calc(100vw - 32px);
    }
}